body {
    padding-top: 40px;
}

section {
  padding-top: 30px;
}

.page-header {
    border-bottom: 1px solid #cccccc;
}

.navbar-inverse .brand {
    font-weight: bold;
}
.hero-unit {
    margin-top: 20px;
/*    background: url(../img/bg-inverted.png);
    color: white; */

background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(226,213,208,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,213,208,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(226,213,208,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(226,213,208,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(226,213,208,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(226,213,208,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2d5d0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    font-size: 25px;
}
.hero-unit h1 {
    font-size: 75px;
    margin-bottom: 20px;
}
.hero-unit .get-started {
    margin-top: 35px;
    text-align: right;
}
.hero-unit .get-started .btn-large {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 25px;
}
.hero-unit a {
    font-size: 15px;
}
.hero-unit pre {
    padding: 15px;
    border: none;
    overflow: hidden;
    height: 200px;
    background-color: white;
}
.hero-unit .popover {
    font-size: 12px;
    line-height: 20px;
    width: 400px;
}
.hero-unit .popover .popover-title {
    display: none;
}
.hero-unit .popover .update-site-url {
    font-size: 14px;
    padding: 0px;
    padding-top: 5px;
    margin: 0px;
    text-align: center;
}
.social {
    padding-bottom: 25px;
    text-align: center;
}
.social ul {
    list-style: none;
}
.social ul li {
    display: inline-block;
    padding: 0 10px;
}
.usps h2 {
    font-size: 35px;
}
.usps p {
    font-size: 18px;
    line-height: 27px;
}

.alert code {
    border: none;
    padding: 0;
    background: transparent;
}
.alert-info code {
    color: #772953;
}
pre.prettyprint {
    padding: 9.5px;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
pre {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}
footer {
  margin-top: 50px;
  text-align: center;
} 

@media (max-width: 979px) {
  #forkme {
    display: none;
  }
}

@media (max-width: 979px) {
  body .navbar-inverse .nav-collapse .nav > li > a {
    color: white;
  }
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.bs-docs-sidenav > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li > ul.nav.nav-list {
  padding-left: 0;
  padding-right: 0;
}
.bs-docs-sidenav > li > ul.nav.nav-list > li > a {
  margin: 0 0 -1px;
  padding: 8px 14px 8px 25px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active > a > .icon-chevron-right,
.bs-docs-sidenav .active > a:hover > .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
/*  top: 40px; */
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

@media (max-width: 980px) {
  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    width: 218px;
    margin-top: 30px;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

.ticker, .ticker-wrapper, .ticker-wrapper.has-js, .ticker-title {
  font-size: 11px;
  background-color: transparent;  
}
.ticker a {
  font-size: 11px;
}
.ticker-title {
  padding-top: 5px;
}