---
layout: default
title: docs
section: docs
---
<div class="container">

  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <!-- <li><a href="#intro"><i class="icon-chevron-right"></i> Introduction</a></li> -->
        <li>
          <a href="#quick-start"><i class="icon-chevron-right"></i> Quick start</a>
          <ul class="nav nav-list">
            <li><a href="#requirements"><i class="icon-chevron-right"></i> Requirements</a></li>
            <li><a href="#eclipse"><i class="icon-chevron-right"></i> RoboVM for Eclipse</a></li>
            <li><a href="#cmdline"><i class="icon-chevron-right"></i> Using the command line tool</a></li>
          </ul>
        </li>
        <li><a href="#build"><i class="icon-chevron-right"></i> Building from source</a></li>
      </ul>
    </div>
    <div class="span9">

<!--      <section id="intro">
        <div class="page-header">
          <h1>Introduction</h1>
        </div>

        <p>To be written...</p>
      </section> -->

      <section id="quick-start">
        <div class="page-header">
          <h1>Quick start</h1>
        </div>

        <section id="requirements">
          <h2>Requirements</h2>
          <h3>Mac OS X</h3>
          <p>
            Get Java SE JDK 7 from <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Oracle</a>.
          </p>
          <p>
            Get <a href="https://itunes.apple.com/us/app/xcode/id497799835?mt=12">Xcode 4.6.3 from the Mac App Store</a>
          </p>

          <h3>Ubuntu 12.04</h3>
<pre>
sudo apt-get install build-essential g++-multilib openjdk-7-jdk
</pre>

        <p>Download an ICU data file and place it in /usr/share/icu:</p>

<pre>
sudo mkdir -p /usr/share/icu
sudo sh -c 'curl "http://download.robovm.org/icudt48l.dat" > /usr/share/icu/icudt48l.dat'
</pre>

        <section id="eclipse">
          <h2>RoboVM for Eclipse</h2>

          <p>
            The RoboVM for Eclipse plugin is the quickest way to get started with RoboVM.
            The plugin is known to work with Eclipse 4.2 (Juno) and later. The example below
            demonstrates how to create a simple iOS app from within Eclipse. The 
            <a href="#cmdline">next section</a>
            has some more info on what goes on under the hood when you use the RoboVM compiler.
          </p>

          <p>
            Install the <em>RoboVM for Eclipse</em> plugin from the Eclipse Marketplace or use the following update site:
          </p>
          <pre>http://download.robovm.org/eclipse/</pre>
          <p>
            Create a new <em>RoboVM Cocoa Touch Project</em> project. Enter 
            <code>IOSDemo</code> as project name, app name and main class. Enter <code>org.robovm.IOSDemo</code> 
            as app id.
          </p>
          <p>
            Create a new class and call it <code>IOSDemo</code> with no package name. Copy and paste the code below into the newly created file replacing whatever Eclipse auto generated for you.
          </p>
<pre class="prettyprint">
{% include IOSDemo.java %}
</pre>
          <p>
            Finally, launch the app in the iOS simulator by right clicking the project you created and 
            select <em>Run As... &rarr; iOS Simulator App</em>.
          </p>
        </section>

        <section id="cmdline">
        <h2>Using the command line tool</h2>

        <p><a href="http://download.robovm.org/robovm-{{site.robovm.version}}.tar.gz">Download the latest RoboVM release</a> and unpack it somewhere in your home folder.</p>

        <p>
          Create <code>HelloWorld.java</code> in a new folder with the following contents:
        </p>

<pre class="prettyprint">
public class HelloWorld {
    public static void main(String[] args) {
         System.out.println("Hello world!");
     }
}
</pre>

        <p>
          Compile <code>HelloWorld.java</code> using <code>javac</code>:
        </p>
<pre>
mkdir classes
javac -d classes/ HelloWorld.java
</pre>

        <p>Finally, compile the Java bytecode into native code using:</p>
<pre>
robovm-{{site.robovm.version}}/bin/robovm -verbose -cp classes/ HelloWorld
</pre>

        <div class="alert alert-info">
          <strong>Note!</strong> When you compile a program using RoboVM it will
          translate not only the main class into native code but also the 
          transitive dependencies of that main class. So the first time you compile
          a program for a particular CPU and OS RoboVM also compiles many
          of the standard runtime classes such as <code>java.lang.Object</code>,
          <code>java.lang.String</code>, etc. A simple class like <code>HelloWorld</code>
          references about 1500 classes directly or indirectly. RoboVM keeps a cache
          of compiled classes and only recompiles a class when it or any of its 
          direct dependencies have changed.
        </div>

        <p>
          You should now have a native executable called <code>HelloWorld/HelloWorld</code>.
          Since we didn't specify a CPU or OS to the <code>robovm-{{site.robovm.version}}/bin/robovm</code>
          command the compiler will produce a binary which can be run on the 
          current system (either Linux or Mac OS X). Running it should print:</p>
<pre>
Hello world!
</pre>

        <p>Let's take a quick peek at the contents of the <code>HelloWorld</code> folder:</p>
<pre>
HelloWorld/lib/boot/robovm-rt.jar
HelloWorld/lib/classes0.jar
HelloWorld/HelloWorld
</pre>

        <p>
          This is the final product for this simple console program. The jar files in 
          <code>HelloWorld/lib/boot/</code> are the jar files which were
          specified using the <code>-bootclasspath</code> command line argument.
          Since we didn't specify anything RoboVM will add <code>robovm-rt.jar</code> for us.
          The jar files directly in <code>HelloWorld/lib</code> are the jar files
          specified using <code>-cp</code> argument. If one specifies a path (like we did) 
          rather than a jar file RoboVM will archive the contents of that path
          in a jar file and call it <code>classes0.jar</code> (subsequent paths 
          will be archived to <code>classes1.jar</code>, <code>classes2.jar</code>, etc).
          The jar files will be stripped from <code>.class</code> files. The reason
          why the jar files are included by stripped is to make it possible to 
          store property files, images, etc in the classpath rather than in the
          file system.
        </p>

        <h3>Compiling a simple iOS app</h3>

        <p>
          While it's nice to be able to make native console programs like we did above
          the main goal of RoboVM is to make it possible to develop iOS apps in Java.
          Let's make a very simple iOS app. Put the following into <code>IOSDemo.java</code>:
        </p>

<pre class="prettyprint">
{% include IOSDemo.java %}
</pre>

        <p>
          Compile <code>IOSDemo.java</code> using <code>javac</code>:
        </p>
<pre>
mkdir classes
javac -cp robovm-{{site.robovm.version}}/lib/robovm-rt.jar:robovm-{{site.robovm.version}}/lib/robovm-objc.jar:robovm-{{site.robovm.version}}/lib/robovm-cocoatouch.jar -d classes/ IOSDemo.java
</pre>

        <p>Compile the Java bytecode into native code and launch the app using:</p>
<pre>
robovm-{{site.robovm.version}}/bin/robovm -verbose -arch x86 -os ios -cp robovm-{{site.robovm.version}}/lib/robovm-objc.jar:robovm-{{site.robovm.version}}/lib/robovm-cocoatouch.jar:classes/ -run IOSDemo
</pre>
        </section>

      </section>

      <section id="build">
        <div class="page-header">
          <h1>Building from source</h1>
        </div>

        <p>
          Please see the <a href="https://github.com/robovm/robovm/wiki/Hacking-on-RoboVM">GitHub project wiki</a> for build instructions.
        </p>

      </section>

    </div>

</div>
